body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #242424;
  font-family: arial;
  font-size: 20px;
  color: white;
  font-family: "Baloo Bhai", cursive;
}

ul {
  padding-inline-start: 0px;
}
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
/* END HEADER */

/* MAIN */
.form {
  /* height: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */
.create-task {
  width: 100%;
}
.due-date {
  width: 100%;
}

.form-style-1 {
  margin: 50px auto;
  max-width: 400px;
  padding: 0px;
  width: 300px;
}
.form-style-1 li {
  padding: 0;
  list-style: none;
  margin: 0;
  width: 100%;
}
.form-style-1 label {
  margin: 0;
  padding: 0px;
}

.form-style-1 .field-textarea {
  height: 100px;
  width: 100%;
}

.form-style-1 input[type="button"] {
  background: #4691a4;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.form-style-1 input[type="button"]:hover {
  background: #94efff;
  box-shadow: none;
  -moz-box-shadow: none;
  color: #242424;
  font-weight: bold;
  -webkit-box-shadow: none;
}

textarea {
  resize: none;
}

/* toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end toggle switch */

/* END FORM */

/* LIST */
.todo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.colHeader {
  cursor: pointer;
  background-color: white;
  padding: 7px;
  font-size: 0.8em;
  color: #242424;
}

.todo-header {
  display: flex;
}

.todo-body .checklist .list1 .description {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* END LIST */
.container {
  display: flex;
}
.empty {
  padding: 0 6px;
}
.item {
  display: flex;
  width: 20%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  word-wrap: break-all;
}

.checkbox {
  display: flex;
  width: 1px;
  margin: 0;
}

.message {
  justify-content: left;
}

/* Style buttons */
.btn {
  background-color: rgb(114, 41, 41); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(173, 22, 22);
}
